.blog-post-header1-content1 {
  display: flex;
  position: relative;
  align-items: center;
}
 
.blog-post-header1-text1 {
  align-self: flex-start;
  font-style: italic;
}
 
.blog-post-header1-max-width {
  gap: var(--dl-layout-space-fiveunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.blog-post-header1-header {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.blog-post-header1-content2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.blog-post-header1-text3 {
  font-style: italic;
  font-weight: 300;
}
 
.blog-post-header1-fragment1 {
  display: contents;
}
 
.blog-post-header1-text4 {
  display: inline-block;
}
 
.blog-post-header1-fragment2 {
  display: contents;
}
 
.blog-post-header1-text5 {
  display: inline-block;
}
 
.blog-post-header1-fragment3 {
  display: contents;
}
 
.blog-post-header1-text6 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .blog-post-header1-max-width {
    gap: var(--dl-layout-space-threeunits);
  }
  .blog-post-header1-header {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .blog-post-header1-text2 {
    text-align: center;
  }
}
 
@media(max-width: 479px) {
  .blog-post-header1-max-width {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
}
